@use '../../style/_reset.css';
@use 'src/style/vars';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    padding: 1em;
    margin: 0 auto;
}

/*DARKMODE*/
.body-dark {
    background-color: vars.$color-violet;
}

/*RESPONSIVE*/
@media (min-width: 768px) {
    body {
        width: 85%;
    }
}

/*ANIMATION*/
@keyframes open {
    0% {
        transform: scale(.8);
    }
    100% {
    transform: scale(1);
    }
}