@use 'src/style/vars';

.DeleteSpot {
    background-color: rgba(255, 0, 0, 0.479);
    border-radius: 5px;
    padding: .5em;
    text-align: center;

    & h1 {
        margin-bottom: .4em;
        font-weight: bold;
    }

    &-button {
        margin-right: .6em;
        background-color: vars.$color-green-opacity;
        cursor: pointer;
    }
}